Framework/server/__pycache__/
Framework/client/__pycache__/
Framework/client/Group2/
Framework/client/resnet18/__pycache__/
Framework/client/output/
Framework/client/*.csv
Framework/client/*.png
.vscode/settings.json
Framework/client/dp/__pycache__/diffprivacy.cpython-312.pyc
Framework/client/resnet18_custom_dp.pth
Framework/client/best_resnet18_custom.pth
Framework/client/resnet18_custom_dp_dp_params.pth
client/best_resnet18_g1_iid_custom.pth
client/best_resnet18_g2_iid_custom.pth
client/best_resnet18_g3_iid_custom.pth
client/class_distribution_g1_iid.png
client/class_distribution_g2_iid.png
client/class_distribution_g3_iid.png
client/Group1_iid_labels.csv
client/Group2_iid_labels.csv
client/train_group1_iid_smart.csv
client/train_group2_iid_smart.csv
client/train_group3_iid_smart.csv
client/train.py
client/training_curves_g1_iid.png
client/training_curves_g2_iid.png
client/training_curves_g3_iid.png
client/val_group1_iid_smart.csv
client/val_group2_iid_smart.csv
client/val_group3_iid_smart.csv
client/resnet18/ml_eval.py
